<app-header>titulo="Card"</app-header>



<ion-content padding>

  <ion-card mode="ios" color="primary"> <!--Crea el bloque redondeado-->

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
 
  </ion-card>

  <ion-card>

    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>


    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi vero tempora possimus repellendus earum accusantium voluptatem omnis corporis. Quia quaerat quis enim quasi iusto atque, accusamus totam facilis corrupti.
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-img src="/assets/shapes.svg"></ion-img>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quisquam eaque quasi excepturi. Quibusdam animi cupiditate nostrum, quia quisquam, harum soluta eveniet, velit rem distinctio qui! Quam atque quo quis!
  </ion-card>

</ion-content>